<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/Sugandha Duhan/Personal Data/MS/Fall 2022/CS522 - Software Quality Assurance and Test Automation/CS522-Software-Quality-Assurance-and-Test-Automation/CSS522_Project/src"><classes/></test></suite>